<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">

	<name>DNK's Questionnaires</name>

	<description>
        A questionnaires about the DKN users.
	</description>

	<author href="http://nutzam.com"
		email="zozohtnt@gmail.com">
        Peter Zhang
	</author>

	<gap:platforms>
		<gap:platform name="webos" />
	</gap:platforms>

	<icon src="icon.png" gap:role="default" />

</widget>
